@charset "utf-8";
/* CSS Document  -BUMBLE BEE Project */
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block; }
*{margin:0;
padding:0}
/* --BODY Element---------------------------------*/
body{
	margin:0;
	padding:0;
	font-size:0.90em ;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#605B5B;
	background-color:#FFFFFF;
	}

/* --Img Class to set margin & default padding to------------------------------*/

img{
	 display:block;
     margin:0; 
	 padding:0; 
	 border:none;
	 }



/* --Class to clear the float propertie of following elements----------------------------*/
br.clear {
	clear:both; 
	margin-top:-15px;
	}

/* --Default anchor tag formating---------------------------------*/
a{  outline:none;
   text-decoration:none;
   color:#FF9900; 
	background-color:#FFFFFF;
	 }
/* --2 classes to flaot element left or right-----------------*/
.fl_left{float:left;}


.fl_right{float:right;}


/* ----------------------------------------------Header-------------------------------------*/

header{
	padding:2px 0 20px 0;
	}

 .header_left{
	display:block;
	float:left;
	margin-top:7px;
	overflow:hidden;
	}


.blueberry { max-width: 960px; }



/*--------nav element--------------------------*/
nav{
	display:block;
	float:right;
	width:620px;
	margin:5px 0 0 0;
	padding:0;
	list-style:none;
	
	}

nav ul, nav li{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	}

nav li a:link, nav li a:visited, nav li a:hover{
	display:block;
	margin:0 35px 0 0;
	padding:0;
	font-size:1.3em;
	text-transform:uppercase;
	color:#000000;
	background-color:#ebc465;
	}

nav ul ul li a:link, nav ul ul li a:visited{
	border:none;
	}


nav li a:hover, nav ul li.active a{
	color:#333;
	background-color:#ebc465;
	}
	
nav li li a:link, nav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background-color:#ebc465;
	}
	



/* ---------------Wrapper Div------------------*/

	

#wrapper h1, h2,h3,h4,h5,h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	}

/* --------------Section Classes within Wrapper------------------*/
.main{
	color:#666666;
	background-color:#6A737C; 
	padding:20px 0;
	}

.section2{
	 display:block;
	position:relative;
	margin:0 auto ;
	width:920px;
	height:350px;
	padding:20px 25px 30px 25px;
	overflow:hidden;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	background-color:#FFFFFF;
	}
	
.wrapper1{
	 color:#333333; 
	 background-color:#ebc465; 
	 border-bottom:1px solid #D5D5D5;
	 }


.wrapper2{
	color:#666666; 
	background-color:#FFFFFF; 
	border-top:1px solid #D5D5D5; 
	border-bottom:1px solid #D5D5D5;
	
	}

 header,.topnav, .section3,  footer, .copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

.section3{
	margin-top:20px;
	color:#666666;
	background-color:#FFFFFF;
	padding:10px 8px
	}


.section3  p{
	
	margin:0;
	padding:10px;
	line-height:2em;
	border:groove;
	border-color:#666;
	box-shadow: #CCC inset;
	font-size:1.1em;
	}

.topnav{
	padding:20px 0;
	z-index:1000;
	
	}


.thumbnails{
	padding:30px 0;
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

.thumbnails ul, .thumbnails  p{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
	}

.thumbnails h2{
	margin:0 0 15px 0;
	padding:0 0 8px 0;
	font-size:20px;
	font-weight:normal;
	border-bottom:1px dotted #C7C5C8;
	}

.thumbnails li{
	display:block;
	float:left;
	width:300px;
	margin:0 30px 0 0;
	padding:0;
	}

.thumbnails li.last{margin-right:0;}

.thumbnails li p.imgholder{
	display:block;
	width:290px;
	height:100px;
	margin:0 0 15px 0;
	padding:4px;
	border:1px solid #C7C5C8;
	}

.thumbnails a{
	font-weight:bold;
	color:#EAA455;
	}

/* ---------------footer-----------------*/


footer{
	padding:20px 0;
	}



