@charset "utf-8";
/* CSS Stylesheet */
body 
{   
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background: -webkit-linear-gradient(left,#CCC , #6A9EA2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #CCC , #6A9EA2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #CCC , #6A9EA2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #CCC , #6A9EA2); /* Standard syntax (must be last) */
}


#bodyWrap {
		height:900px;
	max-width: 1020px;
    margin:0 auto;	
	background-color: #FFF;
}
 

h1{
	background-color: #666666;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align:center;
	margin: 0 ;
	padding-left: 20px;

}
main{
	 width:850px;
	 height:900px;
	/*background: -webkit-linear-gradient(left, #6A9EA2,#CCC); /* For Safari 5.1 to 6.0 */
   }	
	
	
	

h2{    color: #686868; 
       font-size:40px; }

nav {    background-color:#999;
         font-size:18px;
         text-align:left;
         float:left;
         padding-top:15px;
		 width:200px;
		 height:800px; 
		 }
        
nav ul{    
            color:#FFF;
            list-style-type:none;
			padding:10px;
            }

nav a:link{
	color: #FFFFFF;
	text-decoration:none;
}


ul{ color:#686868; 
      font-size:18px;}

p{
	color: #686868;
	font-size: 18px;
	padding: 10px 18px 26px 18px;
	margin-left: 140px;
	background-color: #FFF;
}
          
img{     float:left;
        margin-right:30px; }

p1{   float:left;
       margin-left:15px; 
	}
.foot{
	
  float:left;	
}
	main ul{
		list-style-type:none;
         
	}

footer{   text-align:center;
			font-size:12px;
			margin:0 auto;
			margin-right:30px;}
			
			
			footer a{
			text-decoration:none;
			display:inline;	
				
			}

